<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试thymeleaf2</title>
</head>
<body>
<table>
    <tr>
        <th>序号</th>
        <th>ID</th>
        <th>姓名</th>
        <th>索引</th>
    </tr>

    <tr th:each="user,iterStat : ${list}">

        <td th:text="${iterStat.count}"></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${iterStat.index}"></td>



    </tr>




</table>


<hr/>
</body>
</html>